ion-tab-bar {
  --background: transparent;
  background-image: linear-gradient(to right, var(--ion-soccer-dark) 0%, var(--ion-soccer-light) 100%);
}
ion-tab-button {
   --color: var(--ion-color-step-700);
}
