<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="ion-text-center" size="large">Tennis</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-text color="dark"><h1>Description</h1></ion-text>
  <ion-text>
    <h6>
      Tennis is a sport that can be played individually or with a team of two.
      Each player’s goal is to hit the tennis ball back and forth with a racquet
      until someone scores.
    </h6>
  </ion-text>

  <ion-img src="/assets/img/tennis-back1.png"></ion-img>
  <ion-img src="/assets/img/tennis-back2.png"></ion-img>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" routerLink="/tennis-rules">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Rules</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="speakers">
        <ion-icon name="hand-right-outline"></ion-icon>
        <ion-label>Skills</ion-label>
        <ion-badge>4</ion-badge>
        <!-- # of skills to be learned -->
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Guides</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
