<ion-header>
  <ion-toolbar color="basketball">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Advanced Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/img/basketball.jpeg"></ion-img>
      <ul>
        <li>Technical Foul</li>
        <ul>
          <li>
            When a player on the team or coaching staff causes an infraction
            that doesn’t involve physical contact
          </li>
          <li>
            These fouls include unsportsmanlike conduct, foul language, arguing,
            and obscene gestures
          </li>
        </ul>
        <li>
          Backcourt Violation: Once your team has passed the half court line,
          you guys are not allowed to go back across the line unless it was
          deflected by the other team
        </li>
        <li>
          Time Restrictions: A team has 5 seconds to inbound the ball. They also
          have 24 seconds to attempt to score
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
