<ion-header>
  <ion-toolbar color="soccer">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Basic Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/soccer1.png"></ion-img>
        <li>
          A match consists of two 45 minutes halves with a 15 minute rest period
          in between
        </li>
        <li>
          Maximum of 11 players (goalkeeper included), and a minimum of seven
          players is needed to constitute a match
        </li>
        <li>
          If the game is tied after the allotted 90 minutes, the match will
          continue in overtime: overtime consists of 30 minutes, with two 15
          minute halves
        </li>
        <li>
          If the game is still tied after overtime, a penalty shootout will
          determine the winner
        </li>
        <li>
          In order for a goal to be counted, the whole ball must cross the goal
          line
        </li>
        <li>
          For fouls committed by a player, they could receive either a yellow or
          red card depending on the severity of the foul and the referee’s
          discretion.
        </li>
        <li>
          If the ball goes out of an opponent in either of the side lines then
          it is given as a throw in.
        </li>
        <ul>
          <li>Throw in rules:</li>
          <ul>
            <li>Ball must be thrown from behind the head</li>
            <li>
              Feet must be behind the line (one foot can be touching the line)
            </li>
            <li>A ball cannot be scored directly from a throw in</li>
            <ul>
              <li>If it enters the goal, a goal kick is awarded</li>
            </ul>
          </ul>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
