<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Tennis Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Beginners Guide to Tennis</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/WgmzdLQ4hdQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Serve in Tennis</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/CXgfNBnetzQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Forehand in Tennis for Beginner</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/fio_7aZZ0Vg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Backhand in Tennis</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/hKSr14cUn9Q"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Perfecting the Forehand</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/5arVdubK9Pg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
