ion-tab-bar {
  --background: transparent;
  background-image: linear-gradient(to right, var(--ion-volleyball-dark) 0%, var(--ion-volleyball-light) 100%);
}
ion-tab-button {
   --color: var(--ion-color-step-700);
   --color-selected: #0a224b;
}

/*  ion-tab-bar {
  // --background: var(--ion-color-volleyball);
 }
 ion-tab-button {
  // --color-focused: var(--ion-color-volleyball);
 } */

