<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Basketball Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          When a team scores through a hoop, they receive two points and the
          ball goes to the other team
        </li>
        <li>
          If the score is made beyond the three-point arc, the basket is worth
          three points
        </li>
        <li>
          A foul is any type of illegal physical contact that includes hitting,
          pushing, or holding
        </li>
        <li>
          When a shooter is fouled, they are award free throws depending on
          where they were fouled
        </li>
        <ul>
          <li>Each free throw is worth one point</li>
          <li>
            If the shooter makes the basket as they were being fouled, they are
            awarded the bucket and a free throw
          </li>
          <li>
            Two free throws if the shooter was fouled on a two point attempt
          </li>
          <li>Three free throws if the shooter was attempting a three</li>
        </ul>
        <li>
          If a player was fouled but they were not shooting, the team that was
          fouled would inbound the ball and the shot clock would reset
        </li>
        <li>
          If a ball lands outside the boundary lines, it is considered out of
          bounds
        </li>
        <ul>
          <li>
            If the offensive team was the last to touch the ball, the other team
            would get the ball
          </li>
          <li>
            If the defensive team was the last to touch the ball, the offensive
            team would inbound the ball from where it went out
          </li>
        </ul>
        <li>
          Any of these violations will result in a turnover, which is when you
          give the other team the ball
        </li>
        <ul>
          <li>
            Walking or Travelling: Taking more than two steps without dribbling
            the ball. You may also not move your pivot foot once you stopped
            dribbling
          </li>
          <li>
            Carrying or Palming: When you dribble the ball too far to the side
            of the ball
          </li>
          <li>
            Double Dribble: Dribbling the ball with both hands on the ball or
            when you dribble, stop dribbling, then dribble again
          </li>
          <li>
            Backcourt Violation: Once your team has passed the half court line,
            you guys are not allowed to go back across the line unless unless it
            was deflected by the other team
          </li>
          <li>
            Time Restrictions: A team has 5 seconds to inbound the ball. There
            is also a shot clock, where a team has a certain amount of time to
            shoot the ball. If the ball does not hit the rim of the basket or go
            in within the time, the other team gets the ball
          </li>
        </ul>
        <li>
          If a player intentionally kicks the ball, it is considered a kick ball
          <ul>
            <li>
              If the violation was committed by the defensive team, the ball
              will be inbounded by the offensive team
            </li>
            <li>
              If the violation was committed by the offensive team, the ball
              will go to the defensive team
            </li>
          </ul>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Goaltending Violation</li>
        <ul>
          <li>
            If a defensive player interferes with a shot while it’s going down
            towards the basket, the offensive team is automatically awarded the
            points
          </li>
          <li>
            If a goaltend is committed by the offensive team, the ball goes to
            the other team
          </li>
        </ul>
        <li>Technical Foul</li>
        <ul>
          <li>
            When a player on the team or coaching staff causes an infraction
            that doesn’t involve physical contact
          </li>
          <li>
            These fouls include unsportsmanlike conduct, foul language, arguing,
            and obscene gestures
          </li>
          <li>
            A technical foul results in the other team shooting a free throw
          </li>
          <li>
            If a player receives two technical fouls, they are no longer allowed
            to play in the game
          </li>
        </ul>
        <li>Flagrant Foul</li>
        <ul>
          <li>Excessive or violent contact with another player</li>
          <li>This includes hitting, kicking, or punching another player</li>
          <li>
            A flagrant foul results in the person fouled getting two free throws
            and the offensive team retaining the ball again
          </li>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
