<ion-header>
  <ion-toolbar color="basketball">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-padding-horizontal">
    <!-- option: text-center-->
    <ion-row>
      <ion-col>
        <ion-card routerLink="./basketball-basic">
          <ion-img src="/assets/img/bball-basic.jpeg"></ion-img>
          <ion-card-header>
            <ion-card-title>Basic Rules</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Master the fundamental rules such as throw-ins, penalties, and much
            more!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="./basketball-advanced">
          <ion-img src="/assets/img/bball-advanced.png"></ion-img>
          <ion-card-header>
            <ion-card-title>Advanced Rules</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Learn more about advanced rules such as off-sides, fouls, and more!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
