<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Soccer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1>Description</h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <h6>
      Soccer is a sport where two teams of eleven are trying to score points by
      maneuvering the ball on the field into the other team's goal without using
      their arms or hands (anything else is permitted). The team who scores the
      most points after the game timer is the winner.
    </h6>
  </ion-text>

  <ion-img src="/assets/img/soccer-back1.png"></ion-img>
  <ion-img src="/assets/img/soccer-back2.png"></ion-img>
</ion-content>
