<!--
  File name: soccer-advanced.page.html
  Purpose: Advanced Rules page
  Date: 5/4/21
  Author(s): Brian Su, Abe Jeyapratap, Wyman Li, Nicholas Hom
 -->

 <ion-header>
  <ion-toolbar color="volleyball">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Advanced Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/vball2.png"></ion-img>
        <li>
          A back row player's body can not be above the net if they are blocking
        </li>
        <li>Overlapping (out of rotation)</li>
        <li>
          A back row player can not attack a ball if it is completely above the
          net while positioned on or in front of the attack line
        </li>
        <li>
          If two or more player both contact the ball at the same time, it is
          considered as one touch and either player is allowed to contact the
          ball again
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
