<!--
  File name: basketball-videos.page.html
  Purpose: Video Resources for Sport
  Date: 4/28/21
  Author(s): Brian Su
 -->

 <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Shooting a Basketball</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/t7ciq_x4138"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Dribbling</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/BnvGa0I8bMc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Layup a Basketball</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/DcDRnnY5zO4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <ion-card>
      <ion-card-header>
        <ion-card-title
          >Tips, Skills, and Drills for Shooting a Basketball</ion-card-title
        >
      </ion-card-header>
      <iframe
        width="100%"
        height="300"
        src="https://www.youtube.com/embed/nWgcOlUQM4U"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>How to Better your Defense</ion-card-title>
      </ion-card-header>
      <iframe
        width="100%"
        height="300"
        src="https://www.youtube.com/embed/AZl-Abt3A9s"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </ion-card> </ion-card
></ion-content>
