<!--
  File name: welcome.page.html
  Purpose: Default page that welcomes user
  Date: 5/27/21
  Author(s): Nicholas Hom
 -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-no-padding-top">
        <ion-text><h1>Welcome to Pocket Coach!</h1></ion-text>
        <ion-img src="/assets/img/logo.png"></ion-img>
        <ion-text><h2>This app is designed to teach beginners how to play popular sports.</h2></ion-text>
        <ion-text><h2>No prior knowledge necessary!</h2></ion-text>
        <ion-button routerLink="dashboard">Tap to begin learning</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
