/*
  File name: welcome.page.scss
  Purpose: Sets text properties for the welcome page
  Date: 5/27/21
  Author(s): Nicholas Hom
*/

h1 {
  color: white;
  text-align: center;
  font-size: xxx-large;
  text-shadow: 1px 1px 2px black;
}
h2 {
  color: white;
  text-align: center;
  font-size: x-large;
  text-shadow: 1px 1px 2px black;
}
ion-img {
  width: 80%;
  margin: auto;
  display: block;
  filter: drop-shadow(0px 0px 3px white);
}

ion-content {
  --background: linear-gradient(225deg, #080d25 0%, #2a2d3c 100%);
}
