<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Volleyball Basic Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/vball3.png"></ion-img>
        <li>
          Maximum of 6 players are allowed on court per team, 3 on the front
          row, 3 on the back row
        </li>
        <li>Maximum of 3 hits per side</li>
        <li>A ball hitting the boundary lines is "in"</li>
        <li>A ball is considered out if it hits</li>
        <ul>
          <li>An antenna</li>
          <li>The floor outside the boundary line</li>
          <li>The referee stand or pole</li>
        </ul>
        <li>Violations that will result in a point for the other team</li>
        <ul>
          <li>
            Stepping on or across the boundary line before you make contact with
            the ball
          </li>
          <li>Contacting the ball illegally (catch, throw, hold)</li>
          <li>Touching the net while ball is in play</li>
          <li>Crossing the center courtline</li>
          <li>Serving out of order</li>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
