<!--
  File name: dashboard.page.html
  Purpose: Sports Dashboard page
  Date: 3/18/21
  Author(s): Abe Jeyapratap, Nicholas Hom
 -->

<ion-header>
  <!-- [translucent]="true" -->
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <ion-header collapse="condense">
    <ion-toolbar color="#04193e">
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center ion-padding-top">
        <ion-label>
          <h1>Which Sport would you like to learn?</h1>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6">
        <ion-card routerLink="./soccer" class="ion-text-center">
          <ion-img src="/assets/img/soccer.png" width="100%"></ion-img>
          <ion-card-header>
            <ion-card-title>Soccer</ion-card-title>
          </ion-card-header>
          <ion-card-content>Team sport</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6">
        <ion-card routerLink="./tennis" class="ion-text-center">
          <ion-img src="/assets/img/tennis.png" width="100%"></ion-img>
          <!-- <img src="./assets/img/tennis.png" width="100%" /> -->
          <ion-card-header>
            <ion-card-title>Tennis</ion-card-title>
          </ion-card-header>
          <ion-card-content>Solo/Duo</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6">
        <ion-card routerLink="./basketball" class="ion-text-center">
          <ion-img src="/assets/img/basketball.png" width="100%"></ion-img>
          <!-- <img src="/assets/img/basketball.png" width="100%" /> -->
          <ion-card-header>
            <ion-card-title>Basket ball</ion-card-title>
            <!-- leave as two words for formatting -->
          </ion-card-header>
          <ion-card-content>Team sport</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-md="6">
        <ion-card routerLink="./volleyball" class="ion-text-center">
          <ion-img src="/assets/img/volleyball.png" width="100%"></ion-img>
          <!-- <img src="/assets/img/volleyball.png" width="100%" /> -->
          <ion-card-header>
            <ion-card-title>Volley ball</ion-card-title>
            <!-- leave as two words for formatting -->
          </ion-card-header>
          <ion-card-content>Team sport</ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
