<!--
  File name: tennis-home.page.html
  Purpose: Home page for Tennis
  Date: 5/5/21
  Author(s): Abe Jeyapratap, Nicholas Hom, Brian Su
 -->

 <ion-header>
  <ion-toolbar color="tennis">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Tennis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-text-center ion-no-padding-bottom">
        <ion-card button>
          <ion-card-header (click)="toggleDescription()">
            <ion-item lines="none" color="none">
              <ion-label class="ion-text-center">
                <ion-card-title>Description</ion-card-title>
              </ion-label>
              <!-- <ion-icon name="chevron-down-outline" slot="end"></ion-icon> -->
              <ion-icon
                [name]="isVisible ? 'chevron-up-outline' : 'chevron-down-outline' "
              ></ion-icon>
            </ion-item>
          </ion-card-header>
          <ion-card-content *ngIf="isVisible">
            Tennis is a sport that can be played individually or with a team of
            two. Each player’s goal is to hit the tennis ball back and forth
            with a racquet until someone scores.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/img/tennis-back1.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src="/assets/img/tennis-back2.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
