<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Tennis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark" class="ion-text-center">
    <h1>Description</h1>
  </ion-text>
  <ion-text class="ion-text-center">
    <h6>
      Tennis is a sport that can be played individually or with a team of two.
      Each player’s goal is to hit the tennis ball back and forth with a racquet
      until someone scores.
    </h6>
  </ion-text>

  <ion-img src="/assets/img/tennis-back1.png"></ion-img>
  <ion-img src="/assets/img/tennis-back2.png"></ion-img>
</ion-content>
