<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title size="large">Basketball</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button routerLink="/">
        <ion-icon name="arrow-back-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <h1>Description</h1>
    <p>Basketball is a sport where two teams of five try to score by shooting a ball through a hoop that is elevated 10 feet above the ground. The team that scores the most points at the end of the game is the winner.</p>
  </ion-content>
</ion-content>
