<ion-header>
  <ion-toolbar color="tennis">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Skills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-padding-horizontal">
    <ion-row *ngFor="let skillItem of fetchedSkillList">
      <ion-col>
        <ion-card button routerLink="./{{skillItem.skillId}}">
          <ion-img [src]="skillItem.skillImgUrl"></ion-img>
          <ion-card-header>
            <ion-card-subtitle
              >Progress: {{ skillItem.progress }} / {{
              skillItem.skillDetailsObj.skillEval.length }}</ion-card-subtitle
            >
            <ion-card-title>{{ skillItem.skillName }}</ion-card-title>
          </ion-card-header>
          <ion-card-content> {{ skillItem.description }} </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
