<!--
  File name: soccer-guides.page.html
  Purpose: Guides Home page
  Date: 5/25/21
  Author(s): Abe Jeyapratap
 -->
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Equipment Guides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-padding-horizontal">
    <ion-row>
      <ion-col>
        <ion-card button routerLink="./soccer-size">
          <ion-img></ion-img>
          <ion-card-header>
            <ion-card-title>Shoe Size</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card button routerLink="./soccer-equipment">
          <ion-img></ion-img>
          <ion-card-header>
            <ion-card-title>Soccer Specific</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
