<ion-header>
  <ion-toolbar>
    <ion-title>Volleyball Rules</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/volleyball"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          Maximum of 6 players are allowed on court per team, 3 on the front
          row, 3 on the back row
        </li>
        <li>Maximum of 3 hits per side</li>
        <li>A player is not allowed to hit the ball twice in a roll</li>
        <li>A ball hitting the boundary lines is "in"</li>
        <li>It is illergal to catch, hold, oor throw the ball</li>
        <li>It is legal to contact the ball with any part of the body</li>
        <li>A ball is considered out if it hits</li>
        <ul>
          <li>An antenna</li>
          <li>The floor outside the boundary line</li>
          <li>The ceiling in a non playable area</li>
          <li>The referee stand or pole</li>
        </ul>
        <li>
          If two or more player both contact the ball at the same time, it is
          considered as one touch and either player is allowed to contact the
          ball again
        </li>
        <li>
          A player can not block or attack a serve from on or inside the 10 foot
          line
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Rules Regulation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Result in a regulation is a point for the opponent</li>
        <ul>
          <li>
            Stepping on or across the boundary line before you make contact with
            the ball (it is okay if you land on the inside as long as you jump
            behind the line
          </li>
          <li>Contacting the ball illegally (catch, throw, hold)</li>
          <li>Touching the net while ball is in play</li>
          <li>Crossing the center courtline</li>
          <li>Serving out of order</li>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          A back row player blocking the ball (when the back row player is near
          the net and makes contact with the ball while part of their body is
          above the net)
        </li>
        <li>Overlapping (out of rotation)</li>
        <li>
          A back row player can not attack a ball if it is completely above the
          net while positioned on or in front of the attack line
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
