<!--
  File name: soccer-advanced.page.html
  Purpose: Advanced Rules page
  Date: 5/4/21
  Author(s): Brian Su, Wyman Li
 -->

 <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Advanced Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/soccer2.png"></ion-img>
        <li>Offside Rule</li>
        <ul>
          <li>
            The offensive player is offside if they are nearer to the opponent’s
            goal line than both the second and last opponent and the soccer ball
          </li>
        </ul>
        <li>
          If the ball goes out of play off an attacking player on the baseline
          then it is given as a goal kick
        </li>
        <li>
          If a foul occur in the penalty area, the fouled team is awarded a
          penalty kick
        </li>
        <li>
          Each team is only allowed to make a maximum of 3 substitutions. If a
          team uses all three substitutions and a player has to leave the field
          for injury, the team will be forced to continue the game without
          having a replacement for the player
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
