<!--
  File name: basketball.page.html
  Purpose: Tab Content for Basketball
  Date: 4/17/21
  Author(s): Abe Jeyapratap
 -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="basketball-rules">
        <ion-label>Rules</ion-label>
        <ion-icon name="reader-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="basketball-skills">
        <ion-label>Skills</ion-label>
        <ion-badge>{{ numSkills }}</ion-badge>
        <!-- # of skills to be learned -->
        <ion-icon name="hand-right-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="basketball-home">
        <ion-label>Home</ion-label>
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="basketball-videos">
        <ion-icon name="videocam-outline"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="basketball-guides">
        <ion-label>Guides</ion-label>
        <ion-icon name="information-circle"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
