<!--
  File name: tennis-rules.page.html
  Purpose: Rules Home page for Tennis
  Date: 5/4/21
  Author(s): Abe Jeyapratap
 -->

 <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding ion-padding-horizontal"> <!-- option: text-center-->
    <ion-row>
      <ion-col>
        <ion-card routerLink="./tennis-basic">
          <ion-img src="/assets/img/tennis-rules.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Basic Rules</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Master the fundamental rules such as throw-ins, penalties, and much more!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="./tennis-advanced">
          <ion-img src="/assets/img/tennisadvancedrules.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Advanced Rules</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Learn more about advanced rules such as off-sides, fouls, and more!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card routerLink="./tennis-serving">
          <ion-img src="/assets/img/tennis_serve2.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Serving Rules</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Learn more about advanced rules such as off-sides, fouls, and more!
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
