<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Tennis Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/tennis_lines.png"></ion-img>
        <li>
          The ball must be within the boundary lines at all times and if a
          player hits the ball out of bounds, the opponent gets the point
        </li>
        <ul>
          <li>
            If the ball touches the boundary line, that is still considered in
            bounds
          </li>
        </ul>
        <li>
          There are 4 points per game and they increment from
          Love(0)-15-30-40-Game
        </li>
        <ul>
          <li>Everyone starts at Love(0)</li>
          <li>Winner of the game is the one that reaches game</li>
        </ul>
        <li>
          Players must allow the serve to bounce first before returning it
        </li>
        <li>
          The server serves for the whole game and switches after each game
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Advanced Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/tennis_score.png"></ion-img>
        <li>Players must win by at least two points</li>
        <ul>
          <li>
            For example, if both players are at 40-40, you must score 2
            consecutive points to win
          </li>
        </ul>
        <li>
          The winner of the set is the first one to win 6 games with at least a
          2 game lead
        </li>
        <li>If a set is at 6-6, you play a tie-break game</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Serving</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <ion-img src="/assets/img/tennis_serve.png"></ion-img>
        <li>
          Foot Fault - When the server steps into the court or crosses the
          center mark before they make contact the ball
        </li>
        <li>
          Players must serve on the rights side of the court at the beginning of
          each game and switch after each point
        </li>
        <li>
          You must serve the ball into the box diagonal to where you're serving
        </li>
        <li>
          If the ball doesn’t land in the service box the first attempt, you get
          to serve again
        </li>
        <ul>
          <li>
            If you fail to serve the ball in to the service box on the second
            serve, the opponent gets the point
          </li>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>