ion-tab-bar {
  // --background: var(--ion-color-tennis-shade);
  --background: transparent;
  background-image: linear-gradient(to right, var(--ion-tennis-dark) 0%, var(--ion-tennis-light) 100%);
}
ion-tab-button {
  --color: var(--ion-color-step-700);
}

