<!--
  File name: tennis.page.html
  Purpose: Tab Content for Tennis
  Date: 4/17/21
  Author(s): Abe Jeyapratap
 -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tennis-rules">
        <ion-label>Rules</ion-label>
        <ion-icon name="reader"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tennis-skills">
        <ion-label>Skills</ion-label>
        <ion-badge>{{ numSkills }}</ion-badge> <!-- # of skills to be learned -->
        <ion-icon name="hand-right"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tennis-home">
        <ion-label>Home</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tennis-videos">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Videos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tennis-guides">
        <ion-label>Guides</ion-label>
        <ion-icon name="information-circle"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
