<!--
  File name: soccer-equipment.page.html
  Purpose: Equipment-specific page for Sport
  Date: 5/25/21
  Author(s): Abe Jeyapratap
 -->
 <ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Guides"
        color="light"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{currentEquip.equipName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
