<ion-header>
  <ion-toolbar color="volleyball">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Volleyball Rules</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/9g7nYQv-kPM"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>5-1 Rotations Explained</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/gHE5pun0kqg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>6-2 Rotations Explained</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/b48Y9BhVsSs"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Passing</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/gOgfoEGUDCA"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Setting</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/h5mpBCRK_yk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Hitting</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/7qRzBXGvezQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How To Float Serve</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/NRV0rMeSOBI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How To Top Spin</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/qRE1PCvb0-0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
