<ion-header>
  <ion-toolbar color="basketball">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Rules"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Basic Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Basic Rules</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img src="/assets/img/basketball_shooting.png"></ion-img>
      <ul>
        <li>
          When a team scores through a hoop, they receive two points and the
          ball goes to the other team, if the score is made beyond the
          three-point arc, the basket is worth three points
        </li>
        <li>
          A foul is any type of illegal physical contact that includes hitting,
          pushing, or holding
        </li>
        <li>
          Any of these violations will result in a turnover, which is when you
          give the other team the ball
        </li>
        <ul>
          <li>
            Walking or Travelling: Taking more than two steps without dribbling
            the ball.
          </li>
          <li>
            Carrying or Palming: When you dribble the ball too far to the side
            of the ball
          </li>
          <li>
            Double Dribble: Dribbling the ball with both hands on the ball or
            when you dribble, stop dribbling, then dribble again
          </li>
          <li>
            Out of Bounds: If the offensive team was the last ones to touch the
            ball before going out of bounds, the ball would go to the other team
          </li>
        </ul>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
