<ion-header>
  <ion-toolbar color="soccer">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard"
        text="Dashboard"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Dribbling a Soccerball</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/70k5fJ4A_6g"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Passing</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/Sm-u_ESEmjE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How To Shoot Higher and Further</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/gKiQIchQcJ4"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How To Shoot a Curve Ball</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/vR2Grj1f0VE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals of Defense</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/t4hyW_35O6k"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Defend 1 on 1</ion-card-title>
    </ion-card-header>
    <iframe
      width="100%"
      height="300"
      src="https://www.youtube.com/embed/-hZJ1CADebQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </ion-card>
</ion-content>
